*.pid
*.ipr
*.iws
*.war
*.ear
.settings
target
work
.DS_Store
.classpath
.project
.db
.idea
*.iml
Thumbs.db
.*~
*.log
bin/index
*.bk
logs/
*.o
*.so
*.swp
*.json
*.vec
*.bak
*.backup
*.conf
*.mat
*.tree.txt
